body{
    
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

}

.navigation-menu{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navigation-menu li{
    margin: 0 20px;
}

.navigation-menu li a{
    text-decoration: none;
    color: white;
}

/* mobileview */

.mobile-navigation{
    
    list-style: none;
}
.mobile-navigation li{
    margin: 10px 0 0 58px ;
}
.mobile-navigation li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}